/*General Element Tags*/
html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

p,
li {
  font-size: clamp(0.5rem, 2vw + 0.5rem, 1rem);
  line-height: 7vh;
}

header {
  text-align: center;
  background-color: rgb(18, 4, 120);
  color: white;
  padding: 1.5vh;
}

header h2 {
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  gap: 10vw;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4wv;
}

span {
  font-weight: bold;
}

h3 {
  font-size: clamp(1rem, 2vh + 15px, 3rem);
  text-align: center;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  font-size: clamp(.55rem, 2vh + 10px, 2.5rem);
}

/*Header Stuff*/
.header-dec {
  font-size: clamp(1.5rem, 2vh + 16px, 2rem);
  color: lightcoral;
  text-decoration: none;
  text-transform: uppercase;
}

.header-dec:hover {
  color: rgb(243, 181, 181);

  transition: 0.5s ease;
}

#img-container {
  width: 20vw;
}

img {
  width: inherit;
  border: 2px solid black;
}



/*About*/

#About {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(226, 226, 226);
  padding-bottom: 3vh;
}

/*Table Stuff*/
th,
td {
  padding: 1.5vw;
}

/*Form and Grid*/

#Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgray;
  padding-bottom: 2vh;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: grid;
  width: 80%;
}

/*Input Constants*/
input {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

input[type="submit"] {
  cursor: pointer;
}

/*Footer*/
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {

  p,
  li {
    padding-right: 2vw;
    padding-left: 2vw;
  }

  form {
    grid-template-columns: 1fr 1fr;
    gap: .35rem;
  }

  form label {
    text-align: left;
  }

  form input {
    justify-self: start;
    width: 100%;
  }

  input[type="submit"] {
    margin-top: 4vh;
    font-size: 15px;
    padding: 15px;
  }

}

@media (min-width:601px) and (max-width: 667px) {

  p,
  li {
    padding-right: 2vw;
    padding-left: 2vw;
  }
}

@media (min-width: 601px) and (max-width: 667px) {
  form {
    grid-template-columns: 1fr 1fr;
    gap: .35rem;
  }

  form label {
    text-align: center;
  }

  form input {
    justify-self: start;
    width: 150%;
  }

  form textarea {
    justify-self: start;
    width: 150%;
  }

  input[type="submit"] {
    margin-top: 4vh;
    font-size: 15px;
    padding: 15px;
  }
}

@media (min-width: 668px) and (max-width: 699px) {
  form {
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
  }

  form label {
    text-align: center;
  }

  form input {
    justify-self: start;
    width: 150%;
  }

  form textarea {
    justify-self: start;
    width: 100%;
  }

  input[type="submit"] {
    font-size: 1rem;
    margin-top: 4vh;
    padding: 15px 20px;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  form {
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
  }

  form label {
    text-align: center;
  }

  form input {
    justify-self: start;
    width: 100%;
  }

  form textarea {
    justify-self: start;
    width: 100%;
  }

  input[type="submit"] {
    font-size: 1rem;
    margin-top: 4vh;
    padding: 15px 20px;
  }

  #Courses {
    display: flex;
    flex-direction: column;
    margin: 3vh;
    border: 2px solid black;
  }

  #courses-table {
    border-top: 2px solid black;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  table {
    margin: 1vh;
  }
}

/*Responsive Design Things*/
@media(min-width: 1000px) {
  form {
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
  }

  form label {
    text-align: right;
  }

  form input {
    justify-self: start;
    width: 150%;
  }

  form textarea {
    justify-self: start;
    width: 150%;
  }

  input[type="submit"] {
    font-size: 1rem;
    margin-top: 4vh;
    padding: 15px 20px;
  }

  #Courses {
    display: flex;
    justify-content: center;
    gap: 3rem;
    border: 2px solid black;
  }

  #courses-table {
    border-left: 2px solid black;
    padding-left: 3rem;
    padding-bottom: 5vh;
  }
}